@using System.Web.Optimization
@model GameEngine.ViewModel.GameViewModel
@{
    Layout = null;
    ViewBag.Title = "Home";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="Game" />
    <meta name="Author" content="">
    <meta name="format-detection" content="telephone=no" />
    <title>GameEngine Game</title>
    @* CSS here *@
    @Styles.Render("~/Assets/css/home")
    @*@Styles.Render("~/Assets/css/addtohomescreen.css")*@
    @Scripts.Render("~/Assets/js/jquery")
    @*@Scripts.Render("~/Assets/js/resize")*@
    <script>
        window.parent.postMessage('{"element_cfg" : "show_footer"}', "*");
    </script>
</head>
<body>
    <div class="wrapper">
        <div class="inner">
            @{ Html.BeginForm("Index", "Game",
                         new
                         {
                             campaignKey = Model.Consumer.GaasCampaignKey,
                             panelId = Model.Config.GaasPanelId,
                             consumerId = Model.Consumer.GaasConsumerId,
                         }, FormMethod.Post, new { enctype = "multipart/form-data" }); }
            <input id="btnPlay" type="submit" value="PLAY NOW">
            <a class="leaderboard-button" href="@GameEngine.Web.Helpers.ConfigReader.GetItem(Model, "leaderboardUrl", "#")" target="_parent">LEADERBOARD</a>
            @{ Html.EndForm();}

            <div class="scoreText">Your best score: @(Model.Dashboard?.BestScore ?? 0)</div>
        </div>
    </div>
    <script>
        function preloader() {
            if (document.images) {
                var img1 = new Image();
                var img2 = new Image();
                var img3 = new Image();
                var img4 = new Image();
                var img5 = new Image();
                var img6 = new Image();
                var img7 = new Image();
                var img8 = new Image();

                img1.src = '@Url.Content("~/Assets/images/background.jpg")';
                img2.src = '@Url.Content("~/Assets/images/bones.png")';
                img3.src = '@Url.Content("~/Assets/images/defender.png")';
                img4.src = '@Url.Content("~/Assets/images/home-background.jpg")';
                img5.src = '@Url.Content("~/Assets/images/results-background.jpg")';
                img6.src = '@Url.Content("~/Assets/images/zombieSpritesheet.png")';
                img7.src = '@Url.Content("~/Assets/images/questionHeader.png")';
                img8.src = '@Url.Content("~/Assets/images/headerBackground.png")';
            }
        }
        function addLoadEvent(func) {
            var oldonload = window.onload;
            if (typeof window.onload != 'function') {
                window.onload = func;
            } else {
                window.onload = function () {
                    if (oldonload) {
                        oldonload();
                    }
                    func();
                }
            }
        }
        addLoadEvent(preloader);
    </script>
    @*@Scripts.Render("~/Assets/js/addtohomescreen.min.js")*@
    @*<script>
        addToHomescreen({
            startDelay: 1
        });
    </script>*@
</body>
</html>