@using System.Web.Optimization
@model GameEngine.ViewModel.GameViewModel
@{
    Layout = null;
    ViewBag.Title = "Home";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="Game" />
    <meta name="Author" content="">
    <meta name="format-detection" content="telephone=no" />
    <title>GameEngine Game</title>
    @* CSS here *@
    @Styles.Render("~/Assets/css/home")
    @Scripts.Render("~/Assets/js/jquery")
    @Styles.Render("~/Assets/css/addtohomescreen.css")
    <script>
        window.parent.postMessage('{"element_cfg" : "show_footer"}', "*");
    </script>
</head>
<body>
    <div id="wrapper">
        <div class="inner">
            <div class="scoreText">@Model.Dashboard.BestScore</div>

            @{ Html.BeginForm("Index", "Game",
                         new
                         {
                             campaignKey = Model.Consumer.GaasCampaignKey,
                             panelId = Model.Config.GaasPanelId,
                             consumerId = Model.Consumer.GaasConsumerId,
                         }, FormMethod.Post, new { enctype = "multipart/form-data" }); }
            <input id="btnPlay" type="submit" value="">
            <a class="leaderboard-button" href="https://ingames.com.au/f33eb0df9bb6419fb8c3383ccc160fe7/leaderboard" target="_parent"></a>
            @{ Html.EndForm();}

        </div>
    </div>
    @Scripts.Render("~/Assets/js/resize")
    <div class="preloader">
        @*<div class="gameBGPreload"></div>
        <div class="card1Preload"></div>
        <div class="card2Preload"></div>
        <div class="card3Preload"></div>
        <div class="card4Preload"></div>
        <div class="card5Preload"></div>
        <div class="card6Preload"></div>
        <div class="card7Preload"></div>
        <div class="card8Preload"></div>
        <div class="card9Preload"></div>
        <div class="card10Preload"></div>
        <div class="cardBackPreload"></div>
        <div class="playAgainPreload"></div>
        <div class="resultBGPreload"></div>*@
        <img src="~/Assets/images/background.jpg" />
        @*<img src="~/Assets/images/1.png" />
        <img src="~/Assets/images/2.png" />
        <img src="~/Assets/images/3.png" />
        <img src="~/Assets/images/4.png" />
        <img src="~/Assets/images/5.png" />
        <img src="~/Assets/images/6.png" />
        <img src="~/Assets/images/7.png" />
        <img src="~/Assets/images/8.png" />
        <img src="~/Assets/images/9.png" />
        <img src="~/Assets/images/10.png" />*@
        <img src="~/Assets/images/back.png" />
        <img src="~/Assets/images/playagain-btn.jpg" />
        @*<img src="~/Assets/images/results-bg.jpg" />*@
    </div>
    @Scripts.Render("~/Assets/js/addtohomescreen.min.js")
    <script>
        addToHomescreen({
            startDelay: 1
        });
    </script>
</body>
</html>