@using System.Web.Optimization
@model GameEngine.ViewModel.GameViewModel
@{
    Layout = null;
}
@functions{
    string GetConfigItem(string key, string defaultIfNotFound = "")
    {
        return !Model.Fields.ContainsKey(key)
            ? defaultIfNotFound
            : Model.Fields.FirstOrDefault(f => f.Key.Equals(key, StringComparison.CurrentCultureIgnoreCase)).Value;
    }
}
<!DOCTYPE html>
<html>
<head>
    <script>
        window.parent.postMessage('{"element_cfg" : "hide_footer"}', "*");
    </script>
    <meta charset="utf-8" />
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="Game" />
    <meta name="Author" content="">
    <meta name="format-detection" content="telephone=no" />
    <title>GameEngine Game</title>
    @Styles.Render("~/Assets/css/game")
</head>
<body>
    <div class="wrapper">
        @{ Html.RenderPartial("Ask"); }
        <div class="inner">
            <div>
                Tackles: <span class="tacklesMade">0</span> - Missed: <span class="missedZombies">0</span>
            </div>
            <div class="tryLine"></div>
            <div class="player middlePos"></div>
        </div>
    </div>
    @* Scripts here*@
    <script>
        var CAMPAIGN_KEY = "@Model.Config.GaasCampaignKey";
        var PANEL_ID = @Model.Config.GaasPanelId;
        var GAAS_CONSUMER_ID = '@Model.Consumer.GaasConsumerId';
        var HOME_URL = '@Url.Content("~")';
        var HOST_URL = '@Model.HostUrl';
        var TOTAL_LEVELS = @Model.TotalLevels;
        var LEVEL_NUMBER = @Model.Config.LevelNumber;
        var SHOW_RESULT = false;
        var GAMESCORE = 0;
        var GENDER = "@Model.Consumer.GaasGender";
        var STARTENDPOINT = '@Url.HttpRouteUrl("api/gamelog/start", new {controller = "GameLog", action = "Start" })';
        var FINISHENDPOINT = '@Url.HttpRouteUrl("api/gamelog/finish", new {controller = "GameLog", action = "Finish" })';
        var fps = @GetConfigItem("fps", "45");
    </script>
    <form action="@Url.RouteUrl("Result")" method="post" enctype="multipart/form-data">
        <input name="campaignKey" id="campaignKey" type="hidden" value="@Model.Config.GaasCampaignKey" />
        <input name="panelId" id="panelId" type="hidden" value="@Model.Config.GaasPanelId" />
        <input name="gaasConsumerId" id="consumerId" type="hidden" value="@Model.Consumer.GaasConsumerId"/>
        <input name="level" id="level" type="hidden" value="@Model.Config.LevelNumber"/>
        <input name="score" id="score" type="hidden" />
    </form>
    @*<script>
            $(window)
                .load(function() {
                    $('.inner').css("visibility", "visible");
                });
    </script>*@

    @Scripts.Render("~/Assets/js/game")
</body>
</html>