@using System.Web.Optimization
@model GameEngine.ViewModel.GameViewModel
@{
    Layout = null;
    if (Model.Consumer == null) { throw new Exception("Consumer object is null."); }
    if (Model.Config == null) { throw new Exception("Config object is null."); }
    if (Model.Consumer.GaasCampaignKey == null) { throw new Exception("Consumer.GaasCampaignKey is null."); }
    if (Model.Config.GaasPanelId == 0) { throw new Exception("Config.GaasPanelId is 0."); }
    if (Model.Consumer.GaasConsumerId == null) { throw new Exception("Consumer.GaasConsumerId is null."); }
}
<!DOCTYPE html>
<html>
<head>
    <script>
        window.parent.postMessage('{"element_cfg" : "hide_footer"}', "*");
    </script>
    <meta charset="utf-8" />
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="Game" />
    <meta name="Author" content="">
    <meta name="format-detection" content="telephone=no" />
    <title>GameEngine Game</title>
    @Styles.Render("~/Assets/css/game")
    <script>
        window.parent.postMessage('{"element_cfg" : "show_footer"}', "*");
        window.parent.postMessage('{"game_hidemenu" : "true"}', "*");

    </script>
</head>
<body ontouchstart="">
    <div class="wrapper">
        <div class="inner">
            <div class="header">
                <div class="tacklesWrap">
                    <span class="tacklesMade">0</span>
                </div>
                <div class="waveWrap">
                    WAVE <span class="levelNumberText">1</span>
                </div>
                <div class="missedZombies">
                    <div class="ball ball1"></div>
                    <div class="ball ball2"></div>
                    <div class="ball ball3"></div>
                </div>
            </div>
            <div class="leftButton tapArea"></div>
            <div class="rightButton tapArea"></div>
            @{ Html.RenderPartial("Ask"); }
            
            <div class="player middlePos"></div>
            <div class="wave">WAVE <span class="waveNumber">1</span></div>

            <div class="introPopup">
                <p>One word: ZOMBIES!!</p>
                <p>Move left and right to tackle them and send them back to the grave.</p>
                <p>You only have 3 lives – use them well.</p>
                <p>Hint: If a zombie looks a little different they are worth stopping!</p>
                <button class="popupButton">LET'S GO</button>
            </div>
        </div>
    </div>
    @* Scripts here*@
    <script>
        var CAMPAIGN_KEY = '@(Model.Config.GaasCampaignKey)';
        var PANEL_ID = @(Model.Config.GaasPanelId);
        var GAAS_CONSUMER_ID = '@(Model.Consumer.GaasConsumerId)';
        var HOME_URL = '@Url.Content("~")';
        var HOST_URL = '@Model.HostUrl';
        var TOTAL_LEVELS = @Model.TotalLevels;
        var LEVEL_NUMBER = @(Model.Config?.LevelNumber ?? 1);
        var SHOW_RESULT = false;
        var GAMESCORE = 0;
        var GENDER = '@(Model.Consumer?.GaasGender)';
        var STARTENDPOINT = '@Url.HttpRouteUrl("api/gamelog/start", new {controller = "GameLog", action = "Start" })';
        var FINISHENDPOINT = '@Url.HttpRouteUrl("api/gamelog/start", new {controller = "GameLog", action = "Finish" })';
        var GAMEOVERENDPOINT = '@Url.RouteUrl("DefaultApi", new {httproute = "", controller = "GameLog", action = "GameOver" })';
        var POSTSCOREENDPOINT = '@Url.RouteUrl("DefaultApi", new {httproute = "", controller = "GameLog", action = "SaveScore" })';
        var TELEMETRYENDPOINT = '@Url.RouteUrl("DefaultApi", new {httproute = "", controller = "GameLog", action = "Telemetry" })';
        var DCQENDPOINT = '@Url.RouteUrl("DefaultApi", new {httproute = "", controller = "Dc", action = "GetNextQuestion" })';
        var DCAENDPOINT = '@Url.RouteUrl("DefaultApi", new {httproute = "", controller = "Dc", action = "AnswerQuestion" })';
        var fps = @GameEngine.Web.Helpers.ConfigReader.GetItem(Model.Fields, "fps", "30");
        fps = 30;
    </script>
    <form action="@Url.RouteUrl("Result")" method="post" enctype="multipart/form-data" id="resultForm">
        <input name="campaignKey" id="campaignKey" type="hidden" value="@(Model.Config.GaasCampaignKey)" />
        <input name="panelId" id="panelId" type="hidden" value="@(Model.Config.GaasPanelId)" />
        <input name="gaasConsumerId" id="consumerId" type="hidden" value="@(Model.Consumer.GaasConsumerId)"/>
        <input name="level" id="level" type="hidden" value="@(Model.Config?.LevelNumber ?? 1)"/>
        <input name="score" id="score" type="hidden" value="0" />
    </form>
    @*<script>
            $(window)
                .load(function() {
                    $('.inner').css("visibility", "visible");
                });
    </script>*@

    @Scripts.Render("~/Assets/js/game")
</body>
</html>