@using System.Web.Optimization
@model GameEngine.ViewModel.ResultViewModel
@{
    Layout = null;
    ViewBag.Title = "Home";
}
<!DOCTYPE html>
<html>
<head>
    <script>
        window.parent.postMessage('{"element_cfg" : "show_footer"}', "*");
    </script>
    <meta charset="utf-8" />
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="Game" />
    <meta name="Author" content="">
    <meta name="format-detection" content="telephone=no" />
    <title>GameEngine Game</title>
    @* CSS here *@
    @Styles.Render("~/Assets/css/result")
    @Scripts.Render("~/Assets/js/jquery")
    @Scripts.Render("~/Assets/js/resize")
    @helper MessageText()
    {
        if (Model.Score < 16)
            { <text>A slow start but plenty to work on!</text> }

        else if (Model.Score < 31)
            { <text>Picking up the pace, keep going!</text> }

        else if (Model.Score < 51)
            { <text>Solid play! Showing great potential!</text> }

        else
            { <text>A rock star performance. Awesome!</text> }
    }
</head>
<body>
    <div class="wrapper">
        <div class="inner">
            <p class="resultMessage">
                @MessageText()
            </p>
            <p class="finalScore">Your Score: @Model.Score</p>
            <p class="bestScore">Best Score: @Model.GameViewModel.Dashboard.BestScore</p>
        </div>
    </div>
    <p class="facebookText">
    </p>
    <input id="btnPlay" type="submit" value="PLAY">
    <button class="leaderboard-button" >LEADERBOARD</button>
    <script>
        $('#btnPlay').click(function() {
            window.parent.postMessage('{"game_play" : "home"}', "*");
        });
        $('.leaderboard-button').click(function () {
            window.parent.postMessage('{"game_play" : "over"}', "*");
        });
    </script>
</body>
</html>