@using System.Web.Optimization
@using Microsoft.Ajax.Utilities
@model GameEngine.ViewModel.ResultViewModel
@{
    Layout = null;
    ViewBag.Title = "Home";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="Game" />
    <meta name="Author" content="">
    <meta name="format-detection" content="telephone=no" />
    <title>GameEngine Game</title>
    @* CSS here *@
    @Styles.Render("~/Assets/css/result")
    @Scripts.Render("~/Assets/js/jquery")
    @Scripts.Render("~/Assets/js/resize")
    @helper MessageText()
    {
if (Model.Score < 16)
{ <text>A slow start but plenty to work on!</text> }

else if (Model.Score < 31)
{ <text>Picking up the pace, keep going!</text> }

else if (Model.Score < 51)
{ <text>Solid play! Showing great potential!</text> }

else
{ <text>A rock star performance. Awesome!</text> }
}
    @{
        var appId = GameEngine.Web.Helpers.ConfigReader.GetItem(Model.Fields, "fbappid", "193570781164601");
        var link = GameEngine.Web.Helpers.ConfigReader.GetItem(Model.Fields, "fblink", "https://www.originzombies.com.au");
        var message = GameEngine.Web.Helpers.ConfigReader.GetItem(Model.Fields, "fbmessage", "");
        var hashtag = GameEngine.Web.Helpers.ConfigReader.GetItem(Model.Fields, "fbhashtag", "");
    }
    <script type="text/javascript">
        function EscapeHtml(string) {
            return string.replace(/'/g, "\\'").replace(/"/g, '\\"');
        }
        $(document).ready(function() {
            var fbShareInfo = JSON.stringify({
                'url': EscapeHtml('@link'),
                'description': '@message',
                'hashtag': '@hashtag'
            });
           
            window.parent.postMessage('{"fb_show_share" : ' + fbShareInfo + '}', '*');
            
            $("#facebook-share").click(function() {
                window.parent.postMessage('{"fb_share" : "share"}', '*');
            });
        });
    </script>
</head>
<body ontouchstart="">
    <div class="wrapper">
        <div class="inner">
            <p class="resultMessage">
                @MessageText()
            </p>
            <p class="finalScore">Your Score: @Model.Score</p>
            <p class="bestScore">Best Score: @Model.GameViewModel.Dashboard.BestScore</p>
        </div>
    </div>
   
    <i class="facebook-share" id="facebook-share"></i>

    <input id="btnPlay" type="submit" value="PLAY">
    <div class="leaderboard-button">LEADERBOARD</div>
    <script>
        $('#btnPlay').click(function () {
            window.parent.postMessage('{"game_play" : "home"}', "*");
        });
        $('.leaderboard-button').click(function () {
            window.parent.postMessage('{"game_play" : "over"}', "*");
        });
    </script>
</body>
</html>