@using System.Web.Optimization
@model PaperToss.ViewModel.ResultViewModel
@{
    Layout = null;
    ViewBag.Title = "Home";
}
<!DOCTYPE html>
<html>
<head>
    <script>
        window.parent.postMessage('{"element_cfg" : "show_footer"}', "*");
    </script>
    <meta charset="utf-8" />
    <meta id="viewport" name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="Game" />
    <meta name="Author" content="">
    <meta name="format-detection" content="telephone=no" />
    <title>PaperToss Game</title>
    @* CSS here *@
    @Styles.Render("~/Assets/css/result")
    @Scripts.Render("~/Assets/js/jquery")
  
</head>
<body>
    <div id="wrapper">
        <div class="inner">
            <p class="congratsText">
                <span class="congrats">Congratulations</span>
                <br /><br />
                You achieved a score of
            </p>
            <p class="finalScore">@Model.Score</p>
        </div>
    </div>
    <script>
        var GAMESCORE = @Model.Score;
        var CUSTOMEVENTENDPOINT = '@Url.HttpRouteUrl("api/gamelog/customevent", new {controller = "GameLog", action = "CustomEvent" })';

        $(document).ready(function() {
                
            });
    </script>

    <p class="facebookText">
    </p>
    @{ Html.BeginForm("Index", "Home",
                                                           new
                                                           {
                                                               campaignKey = Model.GameViewModel.Config.GaasCampaignKey,
                                                               panelId = Model.GameViewModel.Config.GaasPanelId,
                                                               consumerId = Model.GameViewModel.Consumer.GaasConsumerId,
                                                           }, FormMethod.Post, new { enctype = "multipart/form-data" }); }
    <input id="btnPlay" type="submit" value="LEADERBOARD">
    @{ Html.EndForm();}
</body>
</html>