@using System.Web.Optimization
@model GameEngine.ViewModel.ConfigViewModel

@{
    Layout = "~/Views/Shared/_Layout_Config.cshtml";
    ViewBag.Title = "GameEngine Game Config";
    var showHomeScreenCheckbox = Model.ShowMenu ? "checked" : "";
    var showResultScreenCheckbox = Model.ShowResult ? "checked" : "";
}
@section head {
    @Styles.Render("~/bundles/css/config")
}

@section scripts {
    @Scripts.Render("~/bundles/js/config")
    <script type="text/javascript">
        $(document).ready(function () {
            $("[name='chkShowHome']").bootstrapSwitch();
            $("[name='chkShowResult']").bootstrapSwitch();
        });
    </script>

    @using (Html.BeginForm("Index", "Config",FormMethod.Post, new { campaignKey = Model.GaasCampaignKey, panelId = Model.GaasPanelId }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(false)
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.GaasCampaignKey)
        @Html.HiddenFor(model => model.GaasPanelId)
        <div class="container">
            <div class="row">
                <h4>ConfigViewModel</h4>
                <hr />
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ShowMenu, "Show Menu", htmlAttributes: new {@class = "control-label", style="display: block;"})
                        <input type="checkbox" name="chkShowHome" @showHomeScreenCheckbox>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.ShowResult, "Show Result", htmlAttributes: new {@class = "control-label", style = "display: block;" })
                        <input type="checkbox" name="chkShowResult" @showResultScreenCheckbox>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LevelNumber, "Level Number", htmlAttributes: new {@class = "control-label", style = "display: block;" })
                        <input type="number" class="form-control" name="txtLevelNumber" placeholder="Level Number" value="@Model.LevelNumber"/>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    @Html.LabelFor(model => model.GameConfigJson, "Configuration Json", htmlAttributes: new { @class = "control-label", style = "display: block;" })
                    <textarea class="form-control" name="txtGameConfigJson" rows="60">@Model.GameConfigJson</textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="form-group pull-right" style="margin-top: 20px;">
                        <input type="submit" value="Save Changes" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>
    }


<h4>Clear all cache</h4>
<hr />
<p>   <a href="@Url.Action("ClearCache", new { campaignKey = Model.GaasCampaignKey, panelId = Model.GaasPanelId})" class="btn btn-danger">Clear Config & Consumer Cache</a></p>
}
